DB_URL=jdbc:mariadb://localhost:3306/stacktravel
DB_USERNAME=username
DB_PASSWORD=pass
MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USERNAME=...
MAIL_PASSWORD=...
MAIL_FROM=...
PASSWORD_RESET_URL=http://localhost:8080/reset-password

APP_LOCALE=en